/* versione Tablet max 768 */

@media screen and (max-width:768px){
   .site-header h1{
    margin: 0 auto;
   }

   .container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 47px;
   }
}





/* versione Mobile max 480 */
@media screen and (max-width:480px){
    .container{
        max-width:100%;
        margin: 0 auto;
        padding: 47px 35px;
    }

    .site-header h1{
        font-size: 3rem;
    }

    .row{
     flex-direction: column;
     gap: 60px;

    }

    .lessons .col, .steps .col, .why-us .col{
        width: 100%;
    }

    .why-us .text-center{
        padding: 0 20px;
    }
    .why-us{
        background-color: rgb(34, 34, 34);
        margin-bottom:0;
        margin-top: 0;
        padding-bottom: 100px;
    }

    .steps{
        margin-bottom:0;
        margin-top: 0;
        padding: 0;
    }

    p{
        font-size: 20px;
    }
    h3{
        font-size: 26px;
    }

   
}